{
       "coin": "kadena.json",
    "daemons": [{
                     "host": "localhost",
                     "port": 1848,
                     "user": "",
                 "password": ""
               }],
      "ports": {
                 "1917": {
                           "difficulty": 100000000000000,
                              "vardiff": {
                                                "minDifficulty": 10000000000,
                                                "maxDifficulty": 1000000000000000000,
                                                   "targetTime": 5,
                                                 "retargetTime": 30,
                                           "variancePercentage": 30
                                         }
                         }
               },
  "isEnabled": true
}
